{% extends 'base.html' %}
{% load static %}

<link href="{% static "css/movie.css" %}" rel="stylesheet">
{% block title %}
    <title>Yay, list your movies on Gaflix</title>
{% endblock %}
{% block base %}
    <main role="main">
     <div class="container marketing">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="container">
        {% for movie in movies %}

	<div class="movie-card">
		<div class="movie-header manOfSteel">
			<div class="header-icon-container">
				<a href="#">
					<i class="material-icons header-icon"></i>
				</a>
			</div>
		</div><!--movie-header-->
		<div class="movie-content">
			<div class="movie-content-header">
				<a href="#">
					<h3 class="movie-title">{{ movie.title }}</h3>
				</a>
				<div class="imax-logo"></div>
			</div>
			<div class="movie-info">
				<div class="info-section">
					<label>Date & Time</label>
					<span>Sun 8 Sept - 10:00PM</span>
				</div><!--date,time-->
				<div class="info-section">
					<label>actors</label>

					<span>{{ movie.actors }}, </span>
				</div><!--screen-->
				<div class="info-section">
					<label>Row</label>
					<span>F</span>
				</div><!--row-->
				<div class="info-section">
					<label>Seat</label>
					<span>21,22</span>
				</div><!--seat-->
			</div>
		</div><!--movie-content-->
	</div><!--movie-card-->
        {% endfor %}
        </div>



</div><!--container-->
    </div>
     </div>
    </main>

{% endblock %}